* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    scroll-margin-top: 6rem;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #F9F9F9;
    font-size: 16px;
    overflow-x: hidden;
}
body{
    background-color: #F9F9F9;
    flex-direction: column;
}

.nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 66rem;
    height: 61px;
    flex-shrink: 0;
    margin: 1rem auto;
    padding: 1rem 0;
    border: 4px solid #440381;
    border-radius: 20px;
    overflow: hidden;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
}

.nav-links a:hover{
    background-color: #440381;
    color: #F9F9F9;
    padding: 20px;
    overflow: hidden;
}

.nav-links li {
    margin: 0 1rem;
    overflow: hidden;
}

.nav-links li:hover{
    border-radius: 20px;
}

.nav-links a {
    color: #440381;
}

.hire {
    background-color: #440381;
    color: #F9F9F9;
    height: 3.8rem;
    width: 10.75rem;
    border-radius: 20px;
    border: #440381;
    cursor: pointer;
}

.hire:hover{
    color: #F9F9F9;
    background-color: #3332BB;
    border: 6px solid #3332BB;
    
}

.section-1 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-1 {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.container-1 h1 {
    font-size: 6rem;
    line-height: normal;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    height: 6.625rem;
    overflow-y: hidden;
    flex-shrink: 0;
}

.container-1 h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;

}
 

#co-content {
    width: 44rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
}

#co-content p {
    background: url(./Images/code.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    height: 100%;
}

.container-1 img {
    width: 16.12rem;
    height: 14rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.container-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    position: relative;
}

.container-2 button {
    background-color: #440381;
    color: #F9F9F9;
    height: 3.8rem;
    width: 10.75rem;
    border-radius: 20px;
    border: #440381;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 2rem;
    cursor: pointer;

}

.container-2 button:hover{
    background: #3332BB;
    color: #F9F9F9;
}
#pc{
    align-items: center;
    width: 100%;
    justify-content: center;
}
.section-2 {
    background-color: #440381;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.section-2 h1 {
    color: #F9F9F9;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #440381;
    margin-top: 30px;
}

.section-2 p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #440381;
    margin: 11px 70px;
}

.section-2 img{
    width: 26.5rem;
    height: 24rem;
    background-color: #440381;
    align-items: center;
    justify-content: center;
}

#info {
    position: absolute;
    width: 77.6rem;
    height: 58.8rem;
    margin-top: 729px;
    background: none;
}

.section-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 900px;
}

.section-3 h1{
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-3 h3{
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
    padding: 20px;
}

#projects{
    padding: 20px;
}

#languages{
    padding: 40px;
}

.section-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 52.31rem;
    background: #3332BB;
    padding: 30px;
}

.section-4 h1{
    color: #F9F9F9;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #3332BB;
    margin-top: 30px;
}

.section-4 h3{
    color: #F9F9F9;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50%;
    padding: 20px;
    background-color: #3332BB;
}

.section-4 img{
    background-color: #3332BB;
    width: 62rem;
    height: 32.25rem;
}

.footer{
    background-color:#D9D9D9;
    width: 100%;
    height: 24.3125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#code{
    background-color: #D9D9D9;
    width: 4.1875rem;
    height: 4.1875rem;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.footer h2{
text-align: center;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: #D9D9D9;
margin-bottom: 40px;
}

span{
color: #440381;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #D9D9D9;
}

span:hover{
    color: #3332BB;
}

#arrow{
    background-color: #D9D9D9;
    width: 13.125rem;
    height: 6.8rem;
    flex-shrink: 0;
    margin-bottom: 30px;
}